# Any Form of Keys
*.pem
*.key

# Build outputs
*.o
test_program
bin/Device_1_test
bin/Device_2_test
bin/Device_3_test
bin/CA_test_port
bin/Power_Hypervisor_test

# Certs the CA review and any certs from devices
CA/certs/
*.crt

# Device csr's
Firmware_Device_1/certs/device1.csr
Firmware_Device_2/certs/device2.csr
Firmware_Device_3/certs/device3.csr

# Personal database used
CA/database/approved_devices.txt
CA/database/temp_approved_devices.txt

# All config files
*.conf
!sample_cert.conf

# All images used for README
images/

# Vscode info
.vscode/
