# Any Form of Keys
*.pem
*.key
!sample_rsa_priv_key.pem
!sample_rsa_pub_key.pem


# Build outputs
*.o
test_program
Device_1_test
CA_test_port

# Certs the CA review
CA/certs/

# Personal database used
CA/database/approved_devices.txt
CA/database/temp_approved_devices.txt
